.games{
    padding: 40px 0;
    background-color: rgba(0, 0, 0, 0.281);
    position: relative;
    &::before{
        content: '';
        position: absolute;
        background: url('@/assets/images/pattern.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -2;
    }
    // &__bg{
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     object-fit: cover;
    //     top: 0;
    //     left: 0;
    //     z-index: -1;
    //     // background-attachment: ;
    // }
    &__title{
        text-align: center;
        font-size: 35px;
        color: var(--blue);
        font-weight: 700;
        background: var(--orangegold);
        width: max-content;
        margin: 0 auto;
        padding: 5px 25px;
        border-radius: 20px;
        @include media(994) {
            font-size: 30px;
        }
        @include media(528) {
            font-size: 26px;
        }
        @include media(420) {
            font-size: 23px;
        }
    }
    &__subtitle{
        color: var(--whitebg);
        max-width: 500px;
        font-size: 22px;
        margin: 0 auto;
        line-height: 1.1;
        font-weight: 500;
        text-align: center;
        margin-top: 10px;
    }
    &__cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        @include media(760){
            grid-template-columns: minmax(280px, 470px);
            justify-content: center;
        }
    }
}