$Fredoka: ("Bold", 700), ("Medium", 500), ("Regular", 400);

@each $name, $weight in $Fredoka {
    @font-face {
        font-family: "Fredoka";
        src: url('../fonts/Fredoka/Fredoka-#{$name}.woff2') format('woff2'),
             url('../fonts/Fredoka/Fredoka-#{$name}.woff') format('woff'),
             url('../fonts/Fredoka/Fredoka-#{$name}.ttf') format('truetype');
        font-weight: $weight;
        font-display: swap;
    }
}

$ComicNeue: ("Bold", 700), ("Light", 300), ("Regular", 400);

@each $name, $weight in $ComicNeue {
    @font-face {
        font-family: "ComicNeue";
        src: url('../fonts/ComicNeue/ComicNeue-#{$name}.woff2') format('woff2'),
             url('../fonts/ComicNeue/ComicNeue-#{$name}.woff') format('woff'),
             url('../fonts/ComicNeue/ComicNeue-#{$name}.ttf') format('truetype');
        font-weight: $weight;
        font-display: swap;
    }
}

